#questionsHeading {
  background-color: rgb(172, 170, 170);
  color: rgb(77, 74, 74);
  font-weight: 700;
  font-size:larger;
  padding: 11px 0px;
  text-align: center;
  height: 25px;
  margin-top: -20px;

}

.container {
  text-align: center;
  margin-top: 20px;
  height: 170px;
  
}

.number-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

#btn {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin-left: 21px;
  border-top-left-radius: 17px;
  color: #949494;
  padding: 11px;
}

#btn.clicked-button {
  background-color: green;
  color: white;
}

#btn:hover{
  background-color: rgb(105, 177, 105);
  color: white;
}


